---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post {{ post.color }}">

      {% if post.lengthy == true %}
      <div>
          <div class="paragraph">{{ post.excerpt }}</div>
          <div class="paragraph hide">{{ post.content }}</div>
          <div class="toggle">Read More</div>
          <div class="toggle hide">Show Less</div>
      </div>
      {% else  %}
           <div class="">{{ post.content }}</div>
      {% endif %}

      <div>
          <span>{{ post.year }}</span>
          <span>/</span>
          <span>{{ post.gender }}</span>
          <span>/</span>
          <span>{{ post.sexuality }}</span>
      </div>

      <!-- <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
    </article>
  {% endfor %}
</div>
