---
layout: default
---

<article class="page submit">

    <h2>{{ page.title }}</h2>

    <div>Are you queer and watch porn? Are you not but watch queer porn? Have you ever had a queer
        experience with porn? We would like to hear from you about your personal (or not so personal)
        memories and experiences of porn. We’d like to hear about how you’ve searched for, viewed,
        experienced, collected, stored, organised, hidden, shared… and got off to, porn, how porn has
        shaped you – your desires, perceptions, and sexuality – and anything else you can think of. Please
        write as much as you like, from a single memory or observation, to your entire porn history. Every
        reply is important.</div>

        <form id='form' action="https://getsimpleform.com/messages?form_api_token=bb6b50e0ffc0964db481f4a7879d9dcb" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <input type='hidden' name='redirect_to' value='http://queer2k.uk/thanks' />
          <!-- all your input fields here.... -->

          <div class='fields'>
              <div>
                  <label for='year'>Year of Birth*:</label>
                  <input type='text' name='year' required />
              </div>

              <div>
                  <label for='email'>Email Address*:</label>
                  <input type='text' name='email' required />
                  <p>please leave your email address if you would like to receive updates from queer2k. Your personal information is private and confidential.</p>
              </div>

              <div>
                  <label for='gender'>Gender:</label>
                  <input type='text' name='gender' />
              </div>

              <div>
                  <label for='gender'>Sexuality:</label>
                  <input type='text' name='sexuality' />
              </div>

              <div>
                  <label for='submission'>Submission*:</label>
                  <textarea name="submission" rows="8"></textarea>
                  <p>*: Required</p>
              </div>
          </div>

          <div>
              <input type='checkbox' name='agreement' required>
              <label for='agreement'>By ticking this box I confirm that I have the consent agreement and wish to participate.</label>
          </div>

          <input type='submit' value='Submit' />
        </form>


    <div class="entry">
        {{ content }}
    </div>
</article>
